.items {
    font-size: 1.5rem;
}

.table,
.tableBag,
#addToBag {
    text-align: center;
    width: 100vw;
    margin: 4rem 0;
}

.btn {
    display: flex;
    justify-content: center;
}

#changeView {
    width: 20rem;
    font-size: 3rem;
}