body {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    margin-right: 100px;
}

input[type="text"] {
    text-align: center;
}

#addBtn {
    width: 450px;
    margin: 0 2px;
}

canvas {
    background-color: black;
}