body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.setA,
.setB,
.resultCon {
    margin-top: 25px;
    text-align: center;
}

.container {
    max-width: 50rem;
}

select {
    width: 100px;
    margin-top: 10px;
}


input {
    width: 150px;
}

p {
    font-size: 35px;
    margin: 0px;
}